Name:           {{ rpm_prefix }}-env-{{ env.name }}-label-{{ env.label }}
Version:        {{ env.version }}
Release:        0
Summary:        {{ env.summary }}

License:        BSD 3
{% if env.url -%}
URL:            {{ env.url }}
{%- endif %}
BuildRoot:      %{_tmppath}/env-{{ env.name }}-label-{{ env.label }}-{{ env.version }}

Requires: {{ rpm_prefix }}-env-{{ env.name }}-tag-{{ labelled_tag }}

%description

This is the {{ env.name }}-{{ env.label }} {{ rpm_prefix }} environment which is currently
pointing at {{ env.name }}-{{ labelled_tag }} {{ rpm_prefix }} environment via symlink.


%prep
# Clear up any pre-existing build-root.
rm -rf $RPM_BUILD_ROOT/

%install
mkdir -p $RPM_BUILD_ROOT{{ install_prefix }}/environments/{{ env.name }}
ln -s {{ install_prefix }}/environments/{{ env.name }}/{{ labelled_tag }} $RPM_BUILD_ROOT{{ install_prefix }}/environments/{{ env.name }}/{{ env.label }}

# This phase just tidies up after itself.
%clean
rm -rf $RPM_BUILD_ROOT

%files
# All files in this directory are owned by this RPM.
{{ install_prefix }}/environments/{{ env.name }}/{{ env.label }}
